<!DOCTYPE html>
  <%- include('../partials/head', {
    title: "Bateu aquela fome e não sabe o que comer?",
    description: "Use o FOOME para matar de vez com sua fome. Através de suas preferências recomendamos pratos deliciosos."
  }) %>

  <body>

    <header role="banner">
      <div class="content">

        <div class="brand">
          <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" viewBox="0 0 398.3 193.7" preserveAspectRatio="xMinYMin meet" xml:space="preserve">
            <g id="Boca">
              <path fill="#BF1818" d="M108.5,186.9c-17-1-22.3,13.8-45.2,2.4c-20.4-10.2-45-43.5-57.6-62.5c-5.5-8.3-6.5-9.4-4.1-16.3   C6.3,97,20.7,11.1,70.2,28.4c27.5,9.6,30.5-7.2,44.4-6.4c12,0.7,20.3,19.2,7,40.5c-31.7,50.6-11.5,64.5,2.7,78.5   C153.5,169.4,123.5,187.7,108.5,186.9z"/>
              <path fill="#8C1812" d="M6.4,114.8C16.6,73.9,43.3,35,69.9,47.4c17,8,30.9-6.3,37.6-6.6c9.5-0.5,14.1,8,7.3,20.2   c-43,77.9,23.2,83.5,1.3,97.2C63.9,191.1,4.9,120.9,6.4,114.8z"/>
              <path fill="#260E04" d="M6.4,115.5c13.4-41.3,36.8-75.8,63.3-63.4c17,8,31.1-5.1,37.6-6.6c7.5-1.8,14.2,4,7.4,16.2   c-43,77.9,23.2,83.5,1.3,97.2C63.9,191.8,4.5,121.5,6.4,115.5z"/>
              <path fill="#D8675D" d="M13.7,112.8c-2,0.9-3.5,2-3.1,3.1c1.9,5.9,38.5,50,83.5,46.4c8.4-0.7,21.7-3.9,9.6-26.3   C90.3,111.1,34.2,103.9,13.7,112.8z"/>
            </g>
            <g id="Chamada">
              <polygon fill="#FECE3A" points="54.1,71.9 398.3,0 390.2,158.4 70.1,151.6  "/>
            </g>
            <g id="Texto">
              <g>
                <path fill="#212121" d="M76.9,143.9l-7.5-65.3l34.7-5.9l1,15.2l-19.8,2.7l1,10.1l18.1-1.5l1.1,15.2l-18.1,1.5l3,27.5L76.9,143.9z"/>
                <path fill="#212121" d="M119.9,139.5c-4.1-4-6.5-9.9-7.3-17.7l-2.3-29.5c-0.7-7.6,0.5-13.5,3.9-17.7c3.3-4.2,6.5-6.6,13.6-7.3    c7.1-0.7,10.7,0.8,14.7,4.3c4.1,3.5,6.5,9,7.2,16.6l2.3,29.5c0.8,7.9-0.5,14.2-3.7,18.9c-3.3,4.7-6.5,7.2-13.5,7.9    C127.6,145.2,124,143.5,119.9,139.5z M136.1,126c0.4-1.4,0.5-3.4,0.3-5.8L134,89.6c-0.2-1.9-0.6-3.4-1.2-4.6    c-0.6-1.1-1.7-1.6-3.3-1.5c-2.9,0.3-4.2,2.6-3.8,7.1l2.4,30.5c0.2,2.5,0.7,4.4,1.5,5.6c0.7,1.2,1.9,1.8,3.6,1.6    C134.7,128.2,135.7,127.4,136.1,126z"/>
                <path fill="#212121" d="M166.2,140.6c-4.1-4-6.5-9.9-7.3-17.7l-3.6-40.1c-0.7-7.6,0.5-13.5,3.9-17.7c3.3-4.2,8.5-6.7,15.6-7.4    s12.7,0.7,16.7,4.2c4.1,3.5,6.5,9,7.2,16.6l3.6,40.1c0.8,7.9-0.5,14.2-3.7,18.9c-3.3,4.7-8.4,7.3-15.5,8    C176,146.2,170.3,144.5,166.2,140.6z M184.4,127c0.4-1.4,0.5-3.4,0.3-5.8L181,80c-0.2-1.9-0.6-3.4-1.2-4.6    c-0.6-1.1-1.7-1.6-3.3-1.5c-2.9,0.3-4.2,2.6-3.8,7.1l3.7,41.1c0.2,2.5,0.7,4.4,1.5,5.6c0.7,1.2,1.9,1.8,3.6,1.6    C183,129.2,184,128.4,184.4,127z"/>
                <path fill="#212121" d="M216.6,141.4c-4.1-4-6.5-9.9-7.3-17.7l-4.8-50.6c-0.7-7.6,0.5-13.5,3.9-17.7c3.3-4.2,8.5-6.7,15.6-7.4    s12.7,0.7,16.7,4.2c4.1,3.5,6.5,9,7.2,16.6l4.8,50.6c0.8,7.9-0.5,14.2-3.7,18.9c-3.3,4.7-8.4,7.3-15.5,8    C226.3,147,220.7,145.4,216.6,141.4z M234.8,127.8c0.4-1.4,0.5-3.4,0.3-5.8l-4.9-51.7c-0.2-1.9-0.6-3.4-1.2-4.6    c-0.6-1.1-1.7-1.6-3.3-1.5c-2.9,0.3-4.2,2.6-3.8,7.1l4.9,51.6c0.2,2.5,0.7,4.4,1.5,5.6c0.7,1.2,1.9,1.8,3.6,1.6    C233.4,130,234.4,129.2,234.8,127.8z"/>
                <path fill="#212121" d="M262.6,147.2L252,42.3l28.8-5.4L293,88l2.1-53.9l28.8-5.4L335,148.3l-18.3-0.2l-5.3-71.9l-5.1,71.7    l-14.7-0.3l-17.9-66.9l6.9,66.7L262.6,147.2z"/>
                <path fill="#212121" d="M342.9,148.5L331.7,27.2l43-7.6l1,23.6l-22.2,3l2.2,26.1l20.6-1.9l1.3,25.5l-19.7,1.8l2.7,26.2l18.2,0.1    l1.1,23.6L342.9,148.5z"/>
              </g>
            </g>
            <g id="Dente">
              <path fill="#FFFFFF" d="M30.2,66.6c11.5-14.7,25.1-21.9,39.6-15.1c17,8,31.1-5.1,37.6-6.6c7.5-1.8,14.5,4.1,7.7,16.3   C109.9,67.2,54.2,81.1,30.2,66.6z"/>
            </g>
          </svg>
        </div>
        
        <h1>Bateu a fome<br>e você não sabe<br>o que comer?</h1>
        <p><strong>FOOOME</strong> te recomenda pratos<br> deliciosos para matar sua vontade.</p>
        <a href="#preferences" class="btn flaticon-arrow">Começar</a>

      </div>
    </header>

    <main id="preferences">
      <form class="content" action="pratos" method="POST" enctype="application/x-www-form-urlencoded">

        <h2>O que você gosta de comer?</h2>
        <p>Escolha pelo menos <strong>1 (uma)</strong> opção.</p>

        <div class="list-preferences">
          <% attributes.forEach( attribute => { %>
            <label>
              <div class="image <%= attribute.id %>"></div>
              <input name="attributes" type="checkbox" value="<%= attribute.id %>">
              <div class="text"><%= attribute.name %></div>          
            </label>
          <% }) %>
          </div>
        
        <div class="row-submit shadow"><button type="submit" class="btn flaticon-hunger">Ver pratos recomendados</button></div>

      </form>
    </main>

    <%- include('../partials/footer') %>
    
    <style>
      header .content{
        height: 100%;
        overflow: hidden;
      }

      @media (min-width: 601px){ 
        header{
          height: 660px;

          background-image: url(./images/bg-header.png);
          background-position: center center;
          background-repeat: no-repeat;
        }

        header .content{
          height: 81.5%;
        }
      }

      .brand{
        height: 95%;
        max-height: 125px;
        max-width: 260px;
      }

      h1{
        padding-top: 40px;

        font-size: 2.4em;
        line-height: 100%;
        color: var(--color--red);
        text-transform: uppercase;
      }

      h2{
        font-size: 2.1em;
      }

      .list-preferences{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(170px, auto));
        gap: 20px;

        width: 100%;
        padding: 30px 0 40px 0;
      }

      label{
        display: flex;
        flex-direction: column;

        height: 160px;

        overflow: hidden;
        border-radius: 6px;
        transition: transform 0.3s;
        cursor: pointer;
      }

      label:hover{
        transform: translateY(-7px)
      }

      label input{
        display: none;
      }

      label .image{
        height: 60%;

        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
      }      

      label .ing_01{
        background-image: url(../../images/carne.jpg);
      }

      label .ing_02{
        background-image: url(../../images/frango.jpg);
      }

      label .ing_03{
        background-image: url(../../images/porco.jpg);
      }

      label .ing_04{
        background-image: url(../../images/peixe.jpg);
      }

      label .ing_05{
        background-image: url(../../images/frutos-mar.jpg);
      }

      label .ing_06{
        background-image: url(../../images/massas.jpg);
      }

      label .ing_07{
        background-image: url(../../images/molhos.jpg);
      }

      label .ing_08{
        background-image: url(../../images/queijos.jpg);
      }

      label .ing_09{
        background-image: url(../../images/lanches.jpg);
      }

      label .ing_10{
        background-image: url(../../images/vegetais.jpg);
      }

      label .ing_11{
        background-image: url(../../images/frutas.jpg);
      }

      label .ing_12{
        background-image: url(../../images/saladas.jpg);
      }

      label .ing_13{
        background-image: url(../../images/sopas.jpg);
      }

      label .ing_14{
        background-image: url(../../images/light.jpg);
      }

      label .ing_15{
        background-image: url(../../images/vegetariana.jpg);
      }

      label .ing_16{
        background-image: url(../../images/sem-gluten.jpg);
      }

      label .ing_17{
        background-image: url(../../images/sem-lactose.jpg);
      }

      label .text{
        display: flex;
        justify-content: center;
        align-items: center;

        height: 40%;

        text-align: center;

        background-color: white;
        transition: background 0.3s, color 0.3s;
      }

      input:checked + .text{
        font-family: Tajawal--Bold;
        color: white;

        background-color: var(--color--green);
      }
    </style>

    <script type="module">
      import { modal } from './scripts/library.js'
      
      window.addEventListener('load', () => {

        const { body }         =  document
        const header           =  document.querySelector('header')
        const form             =  document.querySelector('form')
        const preferencesLink  =  document.querySelector('[href="#preferences"]')
        const preferencesDiv   =  document.querySelector('#preferences')
        const listPreferences  =  document.querySelector('.list-preferences')
        const rowSubmit        =  document.querySelector('.row-submit')

        const maxHeight        =  header.clientHeight
        const minHeight        =  130
        let   height           =  null

        body.style.paddingTop = `${maxHeight+30}px`      

        function headerStyle() {
          maxHeight - pageYOffset > minHeight
            ? height = maxHeight - pageYOffset
            : height = minHeight

          header.style.cssText = `height:${height}px !important; position: fixed`

          height > minHeight
            ? header.classList.remove('shadow')
            : header.classList.add('shadow')
        }

        function validation(event) {
          let inputs = document.querySelectorAll('input:checked')

          if (inputs.length < 1) {
            event.preventDefault()
            modal('warning', 'Selecione pelo menos 1 opção')
          }
        }

        function goPreferences(event) {
          event.preventDefault()
          window.scroll(0, preferencesDiv.offsetTop - minHeight)
        }

        function showSubmit(){
          listPreferences.getBoundingClientRect().top + 200 < window.innerHeight
            ? rowSubmit.classList.add('show')
            : rowSubmit.classList.remove('show')
        }
      
        headerStyle()
        showSubmit() 

        window.addEventListener('scroll', () => {
          headerStyle()
          showSubmit()
        })

        form.addEventListener('submit', event => validation(event) )
        preferencesLink.addEventListener('click', event => goPreferences(event) )

      })
    </script>
  </body>
</html>